{# Distributed under the terms of the GNU General Public License v2 #}
{% extends 'layout.html' %}
{% load core_filters %}
{% load i18n %}
{% block main %}
<div class="row">
  <div class="col-md-8">
    <form method=post class=form-inline>
      {% csrf_token %}
      <table class=table>
        <tr>
          <th class=small-col>{{ usersettings|verbose_name:"orderby"|capfirst }}</th>
          <td colspan=2>
            <select name=orderby class=form-control>
              {% for value, label in orderby_choices %}
                <option value="{{ value }}"
                {% if value == usersettings.orderby %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th class=small-col rowspan=3>{% trans "Filter by" %}</th>
          <th class=small-col>{{ issues.model|verbose_name:"type"|capfirst }}</th>
          <td>
            <div class=checkbox>
              {% for type in issue_types %}
                &emsp;<label><input type=checkbox name="filter_type#{{ type.id }}"
                {% if usersettings|filter_enabled:type %}checked{% endif %}>&nbsp;{{ type.name }}</label>
              {% endfor %}
            </div>
          </td>
        </tr>
        <tr>
          <th class=small-col>{{ issues.model|verbose_name:"priority"|capfirst }}</th>
          <td>
            <div class=checkbox>
              {% for priority in issue_priorities %}
                &emsp;<label><input type=checkbox name="filter_priority#{{ priority.id }}"
                {% if usersettings|filter_enabled:priority %}checked{% endif %}>&nbsp;{{ priority.name }}</label>
              {% endfor %}
            </div>
          </td>
        </tr>
        <tr>
          <th class=small-col>{{ issues.model|verbose_name:"state"|capfirst }}</th>
          <td>
            <div class=checkbox>
              {% for state in issue_states %}
                &emsp;<label><input type=checkbox name="filter_state#{{ state.id }}"
                {% if usersettings|filter_enabled:state %}checked{% endif %}>&nbsp;{{ state.name }}</label>
              {% endfor %}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan=3><button type=submit class="btn btn-info btn-sm">{% trans "Apply" context "a modification" %}</button></td>
        </tr>
      </table>
    </form>
    <table id=issues-list class="table table-hover">
      <tr>
        <th class="small-col">{% trans "T" context "shortcut for 'Type' column in the listing" %}</th>
        <th class="small-col">{% trans "P" context "shortcut for 'Priority' column in the listing" %}</th>
        <th>{{ issues.model|verbose_name:"id" }} / {{ issues.model|verbose_name:"title"|capfirst }}</th>
        <th>{{ issues.model|verbose_name:"assignee"|capfirst }}</th>
        <th>{{ issues.model|verbose_name:"state"|capfirst }}</th>
      </tr>
      {% for issue in issues %}
        <tr>
          <td>{{ issue.type|labelize }}</td>
          <td>{{ issue.priority|labelize }}</td>
          <td><a href="{{ issue.get_absolute_url }}"><b>{{ issue.project_id }}-{{ issue.id }} /</b> {{ issue.title }}</a></td>
          <td>{% if issue.assignee %} {{ issue.assignee }} {% else %} <i>{% trans "Unassigned" context "issue assigned to nobody" %}</i> {% endif %}</td>
          <td>{{ issue.state|labelize }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-striped">
      <tr>
        <th>{% trans "Things to check out" %}</th>
      </tr>
      {% for check in checks %}
        <tr>
          <td>
            <a {% if check.is_unread %}class=unread-check{% endif %}
              href="{{ check.get_absolute_url }}" title="{{ check.requested_on }}" data-toggle=tooltip data-placement=bottom>[{% if check.is_unread %}<span
                class="glyphicon glyphicon-bell"></span>&nbsp;{%endif%}{{ check.issue }}]</a>
            <i>{{ check.requester }}:</i> {{ check.get_message }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
