{# Distributed under the terms of the GNU General Public License v2 #}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>Aladom Bug Tracker</title>
    <meta name=viewport content="width=device-width,initial-scale=1.0">
    <link rel=stylesheet href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel=stylesheet href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel=stylesheet href="{% static 'core/css/global.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </head>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">{% trans "Toggle navigation" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'issues_list' %}">Aladom BT</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <main class="container-fluid">
  <form class="block form-inline" method="post">
    <input type=text name=username class="form-control" placeholder="{% trans "username"|capfirst %}">
    <input type=password name=password class="form-control" placeholder="{% trans "password"|capfirst %}">
    <button type=submit class="btn btn-primary btn-md">{% trans "sign in"|capfirst %}</button>
  </form>
  </main>
</html>
