{# Distributed under the terms of the GNU General Public License v2 #}
{% extends 'layout.html' %}
{% load markdown_filters %}
{% load core_filters %}
{% load i18n %}
{% block main %}
<div class="block">
  <div class="page-header">
    <h1>{{ issue.project_id }}-{{ issue.id }} / <small>{{ issue.title }} <a href="{{ issue.get_edit_url }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></small></h1>
  </div>

  <table id=issue-item class="table table-striped">
    <tr>
      <th class='small-col'>{{ issue|verbose_name:"type"|capfirst }}</th>
      <td>{{ issue.type|labelize:True }}</td>
      <th class='small-col'>{{ issue|verbose_name:"priority"|capfirst }}</th>
      <td>{{ issue.priority|labelize:True }}</td>
    </tr>
    <tr>
      <th class='small-col'>{{ issue|verbose_name:"created_on"|capfirst }}</th>
      <td>{{ issue.created_on }}</td>
      <th class='small-col'>{{ issue|verbose_name:"reporter"|capfirst }}</th>
      <td>{{ issue.reporter }}</td>
    </tr>
    <tr>
      <th class='small-col'>{{ issue|verbose_name:"updated_on"|capfirst }}</th>
      <td>{{ issue.updated_on }}</td>
      <th class='small-col'>{{ issue|verbose_name:"assignee"|capfirst }}</th>
      <td>{% if issue.assignee %} {{ issue.assignee }} {% else %} <i>{% trans "Unassigned" context "issue assigned to nobody" %}</i> {% endif %}</td>
    </tr>
    <tr>
      <th class='small-col'>{{ issue|verbose_name:"state"|capfirst }}</th>
      <td colspan=3>{{ issue.state|labelize:True }}</td>
    </tr>
  </table>

  <div class="panel panel-primary">
    <div class="panel-heading">{{ issue|verbose_name:"description"|capfirst }}</div>
    <div class="panel-body">{{ issue.description|markdown|safe}}</div>
  </div>

  {% if not comment_form.instance.pk %}
    <form class="panel panel-primary" method=POST>
      {% csrf_token %}
      <div class="panel-heading">{% trans "Leave a comment" %}</div>
      <div class="panel-body">
        {% formgroup comment_form.content %}
          <textarea name="{{ comment_form.content.name }}" class="form-control"
            placeholder="{% trans "Write your comment here..." %}" rows=7></textarea>
        {% endformgroup %}
          <p class="help-block">{{ comment_form.content.help_text|safe }}</p>
        <button type=submit class="btn btn-primary btn-sm">{% trans "Post" context "a comment" %}</button>
      </div>
    </form>
  {% endif %}

  {% for comment in comments %}
    {% if comment.pk == comment_form.instance.pk %}
      <form class="panel panel-primary" id={{ comment.id }} method=POST>
        {% csrf_token %}
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span>&ensp;<a href=#{{ comment.id }}>{{ comment.author }}, {{ comment.posted_on }}</a>
        </div>
        <div class="panel-body">
          {% formgroup comment_form.content %}
            <textarea name="{{ comment_form.content.name }}" class="form-control"
              placeholder="{% trans "Write your comment here" %}" rows=7>{{ comment_form.content.value }}</textarea>
          {% endformgroup %}
          <p class="help-block">{{ comment_form.content.help_text|safe }}</p>
          <button type=submit class="btn btn-primary btn-sm">{% trans "Edit" %}</button>
        </div>
      </form>
    {% else %}
      <div class="panel panel-primary" id={{ comment.id }}>
        <div class="panel-heading">
          <a class="pull-right" data-toggle=tooltip title="{% trans "Edit" %}" href={{ comment.get_edit_url }}><span class="glyphicon glyphicon-pencil"></span></a>
          {% if comment.edited_on %}<i class="pull-right">{{ comment|verbose_name:"edited_on" }} {{ comment.edited_on }}&emsp;</i>{% endif %}
          <span class="glyphicon glyphicon-comment"></span>&ensp;<a href=#{{ comment.id }}>{{ comment.author }}, {{ comment.posted_on }}</a>
        </div>
        <div class="panel-body">{{ comment.content|markdown|safe }}</div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
